{% comment %}
  Footer for a standard educational content.
{% endcomment %}
<footer>
  <div class="row">
    <div class="col-md-6" align="left">
      <h4>
	Copyright &copy; 2017–{{ 'now' | date: "%Y" }}
	<a href="https://news.uthscsa.edu/researchers-create-app-help-breast-cancer-patients-stick-therapy/">UT Health Science Center San Antonio</a>
      </h4>
    </div>
    <div class="col-md-6" align="right">
      <h4>
          <a href="mailto:ehtappscnslab@gmail.com">Contact</a>
      </h4>
    </div>
  </div>
</footer>
